
<mat-toolbar color="primary">

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>
      <ul>
        <a routerLink="/"><button mat-button>My Messages</button></a>
      </ul>
    </span>

    <span class="spacer"></span>
    <span>
      <ul *ngIf = "userIsAuthed">
        <a routerLink="/create" routerLinkActive="mat-accent"><button mat-button>New Post</button></a>
      </ul>
    </span>

    <span>
      <ul *ngIf = "!userIsAuthed">
        <a routerLink="/login" routerLinkActive="mat-accent"><button mat-button>Login</button></a>
      </ul>
    </span>

    <span>
      <ul *ngIf = "!userIsAuthed">
        <a routerLink="/signup" routerLinkActive="mat-accent"><button mat-button>Sign Up</button></a>
      </ul>
    </span>
    <ul *ngIf = "userIsAuthed">
      <button mat-button (click)="logout()">Log Out</button>
    </ul>
      
</mat-toolbar>