<mat-spinner *ngIf = "isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf = "posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor = "let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}  
        </mat-expansion-panel-header>
        {{ post.creator }}
        <hr>
        {{ post.content }}
        <hr>
        <div class = "postimage">
            <img [src] = "post.filePath" [alt] = "post.title">
        </div>
        
        <a mat-button *ngIf = "isAuth && userID === post.creator" color="primary" [routerLink]="['/edit', post.id]"> Edit </a>

        <button mat-button *ngIf = "isAuth && userID === post.creator" color="warn" (click)="onDelete(post.id)"> Delete </button>

    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="maxPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" *ngIf = "posts.length > 0"></mat-paginator>
<p class = "info-text mat-body-1" *ngIf = "posts.length <= 0 && !isLoading"> No Post Yet </p>